.choice-container{
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 2.8rem;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    background-color: white;
}

.choice-container :hover{
    cursor: pointer;
    box-shadow:  0 .3rem .5rem rgba(0,0,0,.9);
    transform: translate(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix{
    padding: 1.5rem 2.5rem;
    background-color: black;
    color: white;
}

.choice-text{
    padding: 1.5rem ;
    width: 100%;
}

.correct{
    background-color: #76B947;
}

.incorrect{
     background-color: #FF5C5C;
}

/* hud */

#hud{
    display: flex;
    justify-content: space-between;
}

.hud-prefix{
    text-align: center;
    font-size: 2.8rem;
}

.hud-main-text{
    text-align: center;
}

#progressBar{
    height: 4rem;
    width: 20rem;
    border: 0.3rem solid #000;
    margin-top: 1.5rem;
}

#progressBarFull{
    height: 3.5rem;
    background-color: #000;
    width: 0%;
}